<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/gdsc_frontend/static/styles/operator.css" />
    <link rel="stylesheet" href="/gdsc_frontend/static/styles/landing-style.css" />
    <link rel="stylesheet" href="/gdsc_frontend/static/styles/contractor.css" />
    <script
      src="https://kit.fontawesome.com/db21924de1.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-left">
        <img src="/gdsc_frontend/static/images/main-logo-removebg-preview.png" alt="" />
        <h1>ORKER</h1>
      </div>
      <div class="nav-middle">
        <a href="/gdsc_frontend/templates/landing.html">Home</a>
        <a href="">Location</a>
        <a href="">Workers</a>
        <a href="">Contractors</a>
      </div>
      <div class="nav-right" style="width: 12rem">
        <img src="/gdsc_frontend/static/images/user.png" alt="" />
        <p>Pragyan Das</p>
      </div>
    </nav>
    <section class="operator">
      <div class="top-part">
        <button id="btn">History</button>
        <button id="btn">Allotments</button>
        <button id="btn">Complaints</button>
        <button id="btn">Payment Details</button>
        <button id="btn">Account</button>
      </div>
    </section>
    <section class="new-content">
      <div class="left-side">
        <h1>Worker List</h1>
        <div class="left-child">
          <!-- <p>Select Your Worker</p> -->

          <!-- starts first slide starts here -->
          <div class="slides">
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Pragyan</p>
                <p>Job Type: Carpentry</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Pragyan</p>
                <p>Job Type: Carpentry</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Pragyan</p>
                <p>Job Type: Carpentry</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Pragyan</p>
                <p>Job Type: Carpentry</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Pragyan</p>
                <p>Job Type: Carpentry</p>
              </div>
              <p>Wage: $200</p>
            </div>
          </div>

          <!-- second slide starts here -->
          <div class="slides">
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Debashish Buragohain</p>
                <p>Job Type: mason</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Debashish Buragohain</p>
                <p>Job Type: mason</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Debashish Buragohain</p>
                <p>Job Type: mason</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Debashish Buragohain</p>
                <p>Job Type: mason</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Debashish Buragohain</p>
                <p>Job Type: mason</p>
              </div>
              <p>Wage: $200</p>
            </div>
          </div>

          <!-- third slide starts here -->
          <div class="slides">
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Gaurav Bhushan Kumar</p>
                <p>Job Type: labourer</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Debashish Buragohain</p>
                <p>Job Type: labourer</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Debashish Buragohain</p>
                <p>Job Type: labourer</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Debashish Buragohain</p>
                <p>Job Type: labourer</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Debashish Buragohain</p>
                <p>Job Type: labourer</p>
              </div>
              <p>Wage: $200</p>
            </div>
          </div>

          <!-- fourth slide starts here -->
          <div class="slides">
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Jagat</p>
                <p>Job Type: painter</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Jagat</p>
                <p>Job Type: painter</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Jagat</p>
                <p>Job Type: painter</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Jagat</p>
                <p>Job Type: painter</p>
              </div>
              <p>Wage: $200</p>
            </div>
            <div class="left-child-1">
              <img src="/gdsc_frontend/static/images/user.png" alt="" />
              <div class="information">
                <p>Name: Jagat</p>
                <p>Job Type: painter</p>
              </div>
              <p>Wage: $200</p>
            </div>
          </div>
          <i id="change-btn" class="fa-solid fa-angles-right fa-2xl"></i>
        </div>
      </div>
      <div class="right-part">
        <div class="upper-part-1">
          <div class="div-1">
            <img src="/gdsc_frontend/static/images/user.png" alt="" />
            <p>Name of Contractor</p>
          </div>
          <div class="div-2">
            <p>Job Name: Carpentry</p>
            <p>Location: Silchar</p>
            <p>Wage: $300</p>
          </div>
          <div class="div-3">
            <button id="btn-1">Apply</button>
          </div>
        </div>
        <div class="upper-part-1">
          <div class="div-1">
            <img src="/gdsc_frontend/static/images/user.png" alt="" />
            <p>Name of Contractor</p>
          </div>
          <div class="div-2">
            <p>Job Name: Carpentry</p>
            <p>Location: Silchar</p>
            <p>Wage: $300</p>
          </div>
          <div class="div-3">
            <button id="btn-1">Apply</button>
          </div>
        </div>
        <div class="upper-part-1">
          <div class="div-1">
            <img src="/gdsc_frontend/static/images/user.png" alt="" />
            <p>Name of Contractor</p>
          </div>
          <div class="div-2">
            <p>Job Name: Carpentry</p>
            <p>Location: Silchar</p>
            <p>Wage: $300</p>
          </div>
          <div class="div-3">
            <button id="btn-1">Apply</button>
          </div>
        </div>
        <div class="upper-part-1">
          <div class="div-1">
            <img src="/gdsc_frontend/static/images/user.png" alt="" />
            <p>Name of Contractor</p>
          </div>
          <div class="div-2">
            <p>Job Name: Carpentry</p>
            <p>Location: Silchar</p>
            <p>Wage: $300</p>
          </div>
          <div class="div-3">
            <button id="btn-1">Apply</button>
          </div>
        </div>
        <div class="upper-part-1">
          <div class="div-1">
            <img src="/gdsc_frontend/static/images/user.png" alt="" />
            <p>Name of Contractor</p>
          </div>
          <div class="div-2">
            <p>Job Name: Carpentry</p>
            <p>Location: Silchar</p>
            <p>Wage: $300</p>
          </div>
          <div class="div-3">
            <button id="btn-1">Apply</button>
          </div>
        </div>
        <div class="upper-part-1">
          <div class="div-1">
            <img src="/gdsc_frontend/static/images/user.png" alt="" />
            <p>Name of Contractor</p>
          </div>
          <div class="div-2">
            <p>Job Name: Carpentry</p>
            <p>Location: Silchar</p>
            <p>Wage: $300</p>
          </div>
          <div class="div-3">
            <button id="btn-1">Apply</button>
          </div>
        </div>
        <div class="upper-part-1">
          <div class="div-1">
            <img src="/gdsc_frontend/static/images/user.png" alt="" />
            <p>Name of Contractor</p>
          </div>
          <div class="div-2">
            <p>Job Name: Carpentry</p>
            <p>Location: Silchar</p>
            <p>Wage: $300</p>
          </div>
          <div class="div-3">
            <button id="btn-1">Apply</button>
          </div>
        </div>
      </div>
    </section>
    <style>
      .upper-part-1 {
        height: 20%;
      }
      .div-2 {
        row-gap: 0.1rem;
      }
      .div-1 {
        display: flex;
        column-gap: 1rem;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }
      .right-part {
        row-gap: 0.2rem;
        overflow-y: scroll;
      }
      .left-child{
        width: 80%;
        margin-left: 2rem;
      }
    </style>
    <script src="/gdsc_frontend/static/scripts/contractor-page.js"></script>
    <footer>
        <div class="fd1">
          Copyright@2023 All rights reserved | This template is made by Web Maniacs
        </div>
        
      </footer>
  </body>
</html>
