<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/gdsc_frontend/static/styles/landing-style.css">
    <script
      src="https://kit.fontawesome.com/db21924de1.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <img src="/gdsc_frontend/static/images/main-logo-removebg-preview.png" alt="">
            <h1>ORKER</h1>
        </div>
        <div class="nav-middle">
            <a href="/gdsc_frontend/templates/landing.html">Home</a>
            <a href="">Wage</a>
            <a href="">Jobs</a>
            
        </div>
        <div class="nav-right">
            <img src="/gdsc_frontend/static/images/user.png" alt="">
            <p>Pragyan Das</p>
            <div class="icon">
            <i class="fa-regular fa-bell fa-2xl"></i>
            <p><span id="job-number">2</span> Jobs</p>
        </div>
            
        </div>
    </nav>
    <section class="new-section-1">
        <div class="left-part">
            <div class="upper-part">
                <h1>Location: <input type="text" name="" id=""></h1>
                <button id="btn-1">Available Jobs</button>
            </div>
            <div class="lower-part">
                <h1>Current Job you are doing</h1>
                <div class="job"><p>Lorem, ipsum.</p></div>
            </div>
        </div>
        <div class="right-part">
            <div class="upper-part-1">
                <div class="div-1">
                    <img src="/gdsc_frontend/static/images/user.png" alt="">
                    <p>Name of Contractor</p>
                </div>
                <div class="div-2">
                    <p>Job Name: Carpentry</p>
                    <p>Location: Silchar</p>
                    <p>Wage: $300</p>
                </div>
                <div class="div-3">
                    <button id="btn-1">Apply</button>
                </div>
            </div>
            <div class="upper-part-1">
                <div class="div-1">
                    <img src="/gdsc_frontend/static/images/user.png" alt="">
                    <p>Name of Contractor</p>
                </div>
                <div class="div-2">
                    <p>Job Name: Carpentry</p>
                    <p>Location: Silchar</p>
                    <p>Wage: $300</p>
                </div>
                <div class="div-3">
                    <button id="btn-1">Apply</button>
                </div>
            </div>
            
        </div>
    </section>
    <footer>
        <div class="fd1">
          Copyright@2023 All rights reserved | This template is made by Web Maniacs
        </div>
        
      </footer>
</body>
</html>