{% extends "layout.html" %}

{% block main %}
<div class="top-container">
        <table>
          <tr>
            <td class="heading">
        <h1>DISPENSO</h1></td>
        <!-- <td class="logo" style="padding:10px">
          <img src="/static/nits.png" alt="log" class="logo">
        </td> -->
      </table>
      </div>
      <div class="front-page">
        <table>
          <tr>
            <td>
      <div class="table1" style="padding-top: 0px">
      <table style="padding-left: 90px">
        <tr class="data">
          <td><strong><a class="btn" href="">Login</a></strong></td>
        </tr>
        <tr class="data">
          <td><strong><a class="btn" href="">Doctors</a></strong></td>
        </tr>
        <tr class="data">
          <td><strong><a class="btn" href="">Medicines</a></strong></td>
        </tr>
        <tr class="data">
          <td><strong><a class="btn" href="">Appointment</a></strong></td>
        </tr>
      </table>
    </div>
      </td>
    <td style="padding-left: 50px">
        <div>
          <h2>ABOUT US</h2>
          <p class="about">A dispensary is an office in a school, hospital, industrial plant, or other organization that dispenses medications, medical supplies, and in some cases even medical and dental treatment. In a traditional dispensary set-up, a pharmacist dispenses medication per the prescription or order form. The English term originated from the medieval Latin noun dispensaria and is cognate with the Latin verb dispensare, 'to distribute'.[1]

The term also refers to legal cannabis dispensaries.

The term also has Victorian antiquity, in 1862 the term dispensary was used in the folk song the Blaydon Races.[2] The folk song differentiated the term dispensary from a Doctors surgery and an Infirmary.[2] The advent of huge industrial plants in the late 19th and early 20th centuries, such as large steel mills, created a demand for in-house first responder services, including firefighting, emergency medical services, and even primary care that were closer to the point of need, under closer company control, and in many cases better capitalized than any services that the surrounding town could provide. In such contexts, company doctors and nurses were regularly on duty.
</p>
      </div>
    </td>
    <!-- <td>
      <img src="/static/nits.png" class="nit">
    </td> -->
  </table>


{% endblock %}