<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://kit.fontawesome.com/db21924de1.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/styles/landing-style.css">
    
    <title>Orker</title>

    {% block styles %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <img src="/static/images/main-logo-removebg-preview.png" alt="">
            <h1>ORKER</h1>
        </div>
        <div class="nav-middle">
            <a href="" style="text-decoration: none;">Home</a>
            <a href="#section-3" style="text-decoration: none;">About</a>
            <a href="" style="text-decoration: none;">Contact</a>
            <a href="" style="text-decoration: none;">Feedback</a>
        </div>
        <div class="nav-right" style="width: 25rem;">
            <input type="text" name="" id="search">
            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
            {% if session['user_id'] %}
            <a href="/logout" style="text-decoration: none;"><button style="color: white;background-color: blue;border: none;border-radius: 5px;height: 1.8rem;">Log Out</button></a>
            {% else %}
            <a href="/login" style="text-decoration: none;"><button style="color: white;background-color: blue;border: none;border-radius: 5px;height: 1.8rem;">Log In</button></a>
            {% endif %}
        </div>
    </nav>
    {% block main %}{% endblock %}

    <!-- FOOTER -->
    {% if worker != 1 %}
    <footer>
        <div class="fd1">
          Copyright@2023 All rights reserved | This template is made by Web Maniacs
        </div>
        
      </footer>
      <style>
        .nav-right{
            width: 12rem;
        }
      </style>
      {% endif %}
</body>
</html>