<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://kit.fontawesome.com/db21924de1.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/styles/landing-style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <img src="../static/images/main-logo-removebg-preview.png" alt="">
            <h1>ORKER</h1>
        </div>
        <div class="nav-middle">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
            <a href="">Feedback</a>
        </div>
        <div class="nav-right">
            <input type="text" name="" id="search">
            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
        </div>
    </nav>
    <section id="section-1">
        <div class="section-left">
            <img src="../static/images/icon-main.png" alt="">
        </div>
        <div class="section-middle">
            <div class="section-middle-1">
            <h1>Work For All</h1>
            <p>One Place, Workers and Contractors, all together</p>
        </div>
            <div class="register">
                
                <p>Login/SignUp as</p>
                <div class="links">
                    <a href="">Worker</a>
                    <a href="">Contractor</a>
                    <a href="">Operator</a>
                </div>
            </div>
        </div>
        <div class="section-right">
            <div class="connected">
                <p>Connected</p>
                <div class="box">
                    <div class="child">00</div>
                    <p>:</p>
                    <div class="child">00</div>
                    <p>:</p>
                    <div class="child">00</div>
                    
                </div>
            </div>
            <div class="workers">
                <p>Workers Available</p>
                <div class="box">
                    <div class="child">00</div>
                    <p>:</p>
                    <div class="child">00</div>
                    <p>:</p>
                    <div class="child">00</div>
                    
                </div>
            </div>
            <div class="contractors">
                <p>Contractors Available</p>
                <div class="box">
                    <div class="child">00</div>
                    <p>:</p>
                    <div class="child">00</div>
                    <p>:</p>
                    <div class="child">00</div>
                    
                </div>
            </div>

        </div>
    </section>
    <section id="section-2">
        <div class="container">
            <div class="child-container"><h1>Payments</h1></div>
            <div class="child-container" id="container-1" >
                <h1>Jobs</h1>
            </div>
            <div class="child-container" id="container-2">
                <h1>Payments</h1>
            </div>
        </div>
    </section>
</body>
</html>