<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/landing-style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <img src="../static/images/main-logo-removebg-preview.png" alt="">
            <h1>ORKER</h1>
        </div>
        <div class="nav-middle">
            <a href="">Home</a>
            <a href="">Payments</a>
            <a href="">Jobs</a>
            
        </div>
        <div class="nav-right">
            <img src="../static/images/user.png" alt="">
            <p>Pragyan Das</p>
            
        </div>
    </nav>
    <section class="new-section-1">
        <div class="left-part">
            <div class="upper-part">
                <h1>Location: <input type="text" name="" id=""></h1>
                <button id="btn-1">Available Jobs</button>
            </div>
            <div class="lower-part">
                <h1>Current Job you are doing</h1>
                <div class="job"><p>Lorem, ipsum.</p></div>
            </div>
        </div>
        <div class="right-part">
            <div class="upper-part-1"></div>
            <div class="lower-part-1"></div>
        </div>
    </section>
</body>
</html>